.container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

/* styling Logo */
.Logo_Container {
  position: fixed;
  left: 0;
  top: 0;
  padding: 1%;
  width: 25vw;
  height: 100%;
  background-color: #305399;
}

.Logo {
  width: 100%;
  margin-top: 45%;
  height: auto;
}

.Logo_title {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}


/* styling Registration part */
.registration_section {
  position: fixed;
  right: 0;
  top: 0;
  width: 75vw;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.registration_title,
.registration_title1 {
  font-size: 35px;
  text-align: center;
  color: #305399;
}

.registration_title1 {
  margin-top: 15%;
}

.row_of_two_Input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.Input_box {
  flex: 2;
  margin-right: 10px;
}

.input,
.selectInput,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  margin-left: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 0.1 0.1 black;
}

.textarea {
  resize: vertical;
}

.Registration_btn {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: #305399;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.Registration_btn:hover {
  background-color: #28407f;
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Registration_btn:active {
  background-color: #4473a0;
}

.input_title {
  color: #000;
  margin-left: 4px;
}